
@{
    ViewData["Title"] = "CreateLobby";
}

<h2>CreateLobby</h2>

<div class="d-flex justify-content-center">
    <form asp-controller="Lobby" asp-action="CreateLobby" method="post">
        <label> Your nickname:</label>
        <input type="text" class="form-control" name="playerName">
        <label> New lobby name:</label>
        <input type="text" class="form-control" name="id">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>