@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string playerName = (string)ViewData["playerName"];
    string lobbyName = (string)ViewData["lobbyId"];
    bool isHost = ViewData["IsHost"] == null ? false : (bool)ViewData["IsHost"];
}

<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
        <h1> @ViewData["lobbyId"] lobby</h1>
    </div>
</div>
<br />
<div id="playerCards" class="d-flex justify-content-center">
</div>
<br />
@if (isHost)
{
<div class="d-flex justify-content-center">
    <button id="startButton" type="button" class="btn btn-success">Start game</button>
</div>
}

<div id="CanvasDiv" align="center">
    <canvas id="Canvas" style="visibility: hidden;">  </canvas>
</div>

<script src="~/js/Message.js"></script>
<script src="~/js/CustomLinkedList.js"></script>
<script src="~/js/WebSocketController.js"></script>

<script src="~/js/Cell.js"></script>
<script src="~/js/CanvasRendering.js"></script>
<script src="~/js/CellContainer.js"></script>
<script src="~/js/GameController.js"></script>
<script src="~/js/Dispatcher.js"></script>
<script src="~/js/Main.js"></script>