@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "message";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string playerName = (string)ViewData["playerName"];
    string lobbyName = (string)ViewData["lobbyId"];
}

<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
        <h1> @ViewData["lobbyId"]</h1>
    </div>
</div>

<div>
    <h4>Player name = @playerName</h4>
    <h4> Lobby ID = @lobbyName</h4>
</div>

<div id="CanvasDiv" align="center">
    <canvas id="Canvas">  </canvas>
</div>


<script src="~/js/CustomLinkedList.js"></script>
<script src="~/js/WebSocketController.js"></script>

<script src="~/js/Cell.js"></script>
<script src="~/js/CanvasRendering.js"></script>
<script src="~/js/CellContainer.js"></script>
<script src="~/js/GameController.js"></script>
<script src="~/js/Dispatcher.js"></script>
<script src="~/js/Main.js"></script>